<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qinjee.admin.mapper.talent.TalentInfoMapper">

    <select id="selectPage" resultType="com.qinjee.admin.model.vo.TalentInfoVo">
        select tc.company_name companyName ,tua.user_name userName,tua.gender ,tua.phone ,tua.email
        from masterdata.t_user_archive tua
        left join masterdata.t_company_info tc on tua.company_id = tc.company_id
        <where>
            tua.is_delete = 0
        <if test="query != null">
            <if test="query.companyName != null">
                and tc.company_name like CONCAT(CONCAT('%', #{query.companyName}), '%')
            </if>
            <if test="query.email != null">
                and tua.email =#{query.email}
            </if>
            <if test="query.phone != null">
                and tua.phone =#{query.phone}
            </if>
            <if test="query.gender != null">
                and tua.gender =#{query.gender}
            </if>
            <if test="query.userName != null">
                and tua.user_name like CONCAT(CONCAT('%', #{query.userName}), '%')
            </if>
            <if test="query.archiveId != null">
                and tua.archive_id =#{query.archiveId}
            </if>
        </if>
        </where>
        order by tua.create_time DESC
    </select>
</mapper>
