<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qinjee.admin.mapper.OrderRecordMapper">

    <resultMap id="orderTicketMap" type="com.qinjee.admin.model.vo.OrderRecordVo">
        <result column="company_name" property="companyName"></result>
        <result column="order_number" property="orderNumber"></result>
        <result column="good_name" property="goodName"></result>
        <result column="total_price" property="totalPrice"></result>
        <result column="pay_type" property="payType"></result>
        <result column="buy_date" property="buyDate"></result>
        <result column="buy_user_id" property="buyUserId"></result>
        <result column="buy_user_name" property="buyUserName"></result>
        <result column="phone" property="phone"></result>
        <result column="ticket_open_time" property="ticketOpenTime"></result>
        <result column="ticket_open_status" property="ticketOpenStatus"></result>
        <result column="ticket_number" property="ticketNumber"></result>
        <result column="express_number" property="expressNumber"></result>
        <result column="ticket_send_status" property="ticketSendStatus"></result>

        <association property="ticketInfo" javaType="com.qinjee.admin.model.vo.TicketInfo">
            <result column="ticket_open_status" property="ticketOpenStatus"></result>
            <result column="ticket_open_time" property="ticketOpenTime"></result>
            <result column="ticket_number" property="ticketNumber"></result>
            <result column="ticket_type" property="ticketType"></result>
            <result column="total_price" property="ticketPrice"></result>
            <result column="bank_name" property="bankName"></result>
            <result column="bank_account" property="bankAccount"></result>
            <result column="ticket_address" property="ticketAddress"></result>
            <result column="contact_person_name" property="contactPersonName"></result>
            <result column="ticket_company_name" property="ticketCompanyName"></result>
            <result column="contact_phone" property="contactPhone"></result>
        </association>

        <association property="ticketSendInfo" javaType="com.qinjee.admin.model.vo.TicketSendInfo">
            <result column="receive_name" property="receiveName"></result>
            <result column="receive_phone" property="receivePhone"></result>
            <result column="receive_address" property="receiveAddress"></result>
            <result column="express_number" property="expressNumber"></result>
            <result column="ticket_send_status" property="ticketSendStatus"></result>
        </association>

    </resultMap>


   <select id="selectPage" resultMap="orderTicketMap">
       SELECT tc.company_name,order_number,good_name,total_price,pay_type,buy_date,go.operator_id buy_user_id,
       tua.user_name buy_user_name,tua.phone,
       CASE   WHEN ti.ticket_id IS NULL THEN 0 ELSE 1 END ticket_open_status,
       ti.create_time ticket_open_time,
       ti.express_number,
       ti.ticket_number,
       ti.ticket_type,
       ti.bank_name,
       ti.bank_account,
       ti.ticket_address,
       ti.contact_person_name,
       ti.contact_phone,
       ti.receive_name,
       ti.receive_phone,
       ti.receive_address,
       ti.ticket_company_name,
       CASE WHEN ti.express_number IS NULL THEN 0 ELSE 1 END ticket_send_status
       FROM t_good_order go
       LEFT JOIN t_company_info tc ON tc.company_id =go.company_id
       LEFT JOIN t_ticket ti ON ti.ticket_id =go.ticket_id
       LEFT JOIN t_user_archive tua on go.operator_id = tua.archive_id
       <where>
           <if test="query != null">
               <if test="query.companyName != null ">
                   <choose>
                       <when test="query.companyName == ''">
                           and (tc.company_name = '' or  tc.company_name is null)
                       </when>
                       <otherwise>
                           and tc.company_name like concat('%',#{query.companyName},'%')
                       </otherwise>
                   </choose>
               </if>

               <if test="query.buyDate_1 != null">
                   <choose>
                       <when test="query.buyDate_1 == ''">
                           and (buy_date = '' or and buy_date is null)
                       </when>
                       <otherwise>
                           and buy_date >= #{query.buyDate_1}
                       </otherwise>
                   </choose>
               </if>
               <if test="query.buyDate_2 != null">
                   <choose>
                       <when test="query.buyDate_2 == ''">
                           and (buy_date = '' or and buy_date is null)
                       </when>
                       <otherwise>
                           and #{query.buyDate_1} >= buy_date
                       </otherwise>
                   </choose>
               </if>
               <if test="query.buyUserName != null">
                   <choose>
                       <when test="query.buyUserName == ''">
                           and (tua.user_name = '' or  tua.user_name is null)
                       </when>
                       <otherwise>
                           and tua.user_name like concat('%',#{query.buyUserName},'%')
                       </otherwise>
                   </choose>
               </if>
               <if test="query.expressNumber != null">
                   <choose>
                       <when test="query.expressNumber == ''">
                           and (ti.express_number = '' or  ti.express_number is null)
                       </when>
                       <otherwise>
                           and ti.express_number = #{query.expressNumber}
                       </otherwise>
                   </choose>
               </if>
               <if test="query.orderNumber != null">
                   <choose>
                       <when test="query.orderNumber == ''">
                           and (order_number = '' or  order_number is null)
                       </when>
                       <otherwise>
                           and order_number =#{query.orderNumber}
                       </otherwise>
                   </choose>

               </if>
               <if test="query.payType != null">
                   <choose>
                       <when test="query.payType == ''">
                           and (pay_type = '' or  pay_type is null)
                       </when>
                       <otherwise>
                           and pay_type = #{query.payType}
                       </otherwise>
                   </choose>

               </if>
               <if test="query.phone != null">
                   <choose>
                       <when test="query.phone == ''">
                           and (tua.phone = '' or  tua.phone is null)
                       </when>
                       <otherwise>
                           and tua.phone = #{query.phone}
                       </otherwise>
                   </choose>

               </if>
               <if test="query.ticketNumber != null">
                   <choose>
                       <when test="query.ticketNumber == ''">
                           and (ti.ticket_number = '' or  ti.ticket_number is null)
                       </when>
                       <otherwise>
                           and ti.ticket_number = #{query.ticketNumber}
                       </otherwise>
                   </choose>

               </if>
               <if test="query.ticketOpenDate_1 != null ">
                   <choose>
                       <when test="query.ticketOpenDate_1 == ''">
                           and (ti.create_time = '' or  ti.create_time is null)
                       </when>
                       <otherwise>
                           and ti.create_time >= #{query.ticketOpenDate_1}
                       </otherwise>
                   </choose>

               </if>
               <if test="query.ticketOpenDate_2 != null">
                   <choose>
                       <when test="query.ticketOpenDate_2 == ''">
                           and (ti.create_time = '' or  ti.create_time is null)
                       </when>
                       <otherwise>
                           and  #{query.ticketOpenDate_1} >= ti.create_time
                       </otherwise>
                   </choose>

               </if>
               <if test="query.ticketOpenStatus != null  ">
                   <choose>
                       <when test="query.companyName == ''">
                           and ti.ticket_id IS  NULL
                       </when>
                       <otherwise>
                           <if test="query.ticketOpenStatus == 1">
                               and ti.ticket_id IS NOT NULL
                           </if>
                       </otherwise>
                   </choose>

               </if>
               <if test="query.ticketSendStatus != null ">
                   <choose>
                       <when test="query.companyName == ''">
                           and ti.express_number is null
                       </when>
                       <otherwise>
                           <if test="query.ticketSendStatus == 1">
                               and ti.express_number IS NOT NULL
                           </if>
                       </otherwise>
                   </choose>

               </if>
               <if test="query.totalPrice_1 != null">
                   <choose>
                       <when test="query.totalPrice_1 == ''">
                           and ( total_price = '' or  total_price is null)
                       </when>
                       <otherwise>
                           and total_price >= #{query.totalPrice_2}
                       </otherwise>
                   </choose>

               </if>
               <if test="query.totalPrice_2 != null">
                   <choose>
                       <when test="query.totalPrice_2 == ''">
                           and (total_price = '' or total_price is null)
                       </when>
                       <otherwise>
                           and #{query.totalPrice_2} >= total_price
                       </otherwise>
                   </choose>

               </if>

           </if>
       </where>

   </select>
</mapper>
